<%= form_for(@market) do |f| %>
  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <% f.label :latitude %>
    <% f.text_field :latitude %>
  </div>
  <div class="field">
    <% f.label :longitude %>
    <% f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :delivery %><br>
    <%= f.check_box :delivery %>
  </div>
  <div class="field">
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :remote_picture_url, "or picture URL" %><br />
    <%= f.text_field :remote_picture_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
