<p id="notice"><%= notice %></p>

<h1>Listing Markets</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>Address</th>
      <th>Description</th>
      <th>Delivery</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.store %></td>
        <td><%= market.address %></td>
        <td><%= market.description %></td>
        <td><%= market.delivery %></td>
        <td><%= link_to 'Show', market %></td>
        <td><%= link_to 'Edit', edit_market_path(market) %></td>
        <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
