<p id="notice"><%= notice %></p>

<h1>Listing Markets</h1>

<table>
  <thead>
    <tr>
      <th style="padding:0 15px 0 15px;">Store</th>
      <th style="padding:0 15px 0 15px;">Address</th>
      <th style="padding:0 15px 0 15px;">Description</th>
      <th style="padding:0 15px 0 15px;">Delivery</th>
      <th style="padding:0 15px 0 15px;" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td style="padding:0 15px 0 15px;"><%= market.store %></td>
        <td style="padding:0 15px 0 15px;"><%= market.address %></td>
        <td style="padding:0 15px 0 15px;"><%= market.description %></td>
        <td style="padding:0 15px 0 15px;"><%= market.delivery %></td>
        <td style="padding:0 15px 0 15px;"><%= link_to 'Show', market %></td>
        <td style="padding:0 15px 0 15px;"><%= link_to 'Edit', edit_market_path(market) %></td>
        <td style="padding:0 15px 0 15px;"><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
