<p id="notice"><%= notice %></p>

<h1 class="market-header">Listing Markets</h1>

<%= render 'search' %>

<table>
  <thead>
    <tr>
      <th class = "th-padding">Image</th>
      <th class = "th-padding">Store</th>
      <th class = "th-padding">Address</th>
      <th class = "th-padding">Description</th>
      <th class = "th-padding">Delivery</th>
      <th class = "th-padding" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td class="td-padding"><%= image_tag(market.picture_url, :width => 150, :height => 80) %></td>
        <td class="td-padding"><%= market.store %></td>
        <td class="td-padding"><%= market.address %></td>
        <td class="td-padding"><%= market.description %></td>
        <td class="td-padding"><%= market.delivery %></td>
        <td class="td-padding"><%= link_to 'Show', market %></td>
        <td class="td-padding"><%= link_to 'Edit', edit_market_path(market) %></td>
        <td class="td-padding"><%= link_to 'Destroy', market_path(market), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'map' %>
