<p id="notice"><%= notice %></p>

<h1><%= @market.store %></h1>

<p>
  <strong>Address:</strong>
  <%= @market.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @market.description %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @market.delivery %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @market.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @market.longitude %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
